:root {
    --main-bg-color: #b0957f;
    --text-color: white;
    --header-bg-color: white;
    --header-text-color: black;
    --button-hover-scale: 1.05;
    --button-active-scale: 0.95;
    --button-active-bg-color: aquamarine;
}
body{
    font-family: merdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../imagenes/fondo-3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    justify-content: center;
}
.cabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 12vh;
    font-size: 60px;
    justify-content:space-around;
    color:black
}
.logo{
    display: flex;
    width: 12vh;
    height: 12vh;
    justify-content: start;
}
.cafeteros{
    display: flex;
    height: 12vh;
}
.title{
    padding: 5px 8px;
    text-align: center;
    margin: 0 0 1px;
    font-size: 19px;
    color: black;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    transform: scale(1.2);
}
.compras {
    flex: 1 ;
    max-width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: vh;

}
.description {
    flex: 2 1 60vh;
    max-width: 50%;
    height: 60vh;
    text-align: center;
    margin-top: 50px;
    color: black;
    background-color: white;
    border: 10px;
    border-radius: 15px;
    font-size: 20px;
}
.button {
    text-align: center;
    margin-top: 20px;
}
.buy-button {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buy-button:hover {
    transform: scale(var(--button-hover-scale));
}

.buy-button:active {
    background-color: var(--button-active-bg-color);
    transform: scale(var(--button-active-scale));
}

.img-sell {
    max-width: 90%;
    height: 100%;
    border: none;
    border-radius: 20px;
    margin: 20px;
}

.carrito{
    width: 30px;
    height: 30px;
}
@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .compras, .description {
        width:60%;
        height: 60%;
    }

    .description {
        text-align: center;
    }
}