:root {
    --main-bg-color: #b0957f;
    --text-color: white;
    --header-bg-color: white;
    --header-text-color: black;
    --button-hover-scale: 1.05;
    --button-active-scale: 0.95;
    --button-active-bg-color: aquamarine;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(imagenes/fondo-3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    justify-content: center;
}
.cabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10vh;
    font-size: 250%;
    justify-content:space-around;
    color:black
}
.logo{
    display: flex;
    width: 10vh;
    height: 10vh;
    justify-content: start;
}
.cafeteros{
    display: flex;
    height: 10vh;
}
.title{
    padding: 5px 10px;
    text-align: center;
    margin: 0 0 2px;
    font-size: 24px;
    color: white;
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.compras {
    flex: 1 ;
    max-width: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.description {
    flex: 2 1 50vh;
    max-width: 800px;
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.buy-button {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 20px 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buy-button:hover {
    transform: scale(var(--button-hover-scale));
}

.buy-button:active {
    background-color: var(--button-active-bg-color);
    transform: scale(var(--button-active-scale));
}

.img-sell {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .compras, .description {
        width: 100%;
    }

    .description {
        text-align: center;
    }
}
